.item-details {
  background-color: $color-white;
  height: 90vh;
  margin: 5vh 3rem;
  border-radius: .5rem;
  border: .1rem solid $color-white;
  overflow: auto;

  @media #{$bigdevice} {
    width: 70%;
    margin: 5vh auto;
    padding: 2rem;
  }

  .details-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    padding: 4rem 1rem;

    @media #{$bigdevice} {
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 2rem 1rem;
    }

    &__img {
      display: flex;
      justify-content: center;
      width: 100%;

      @media #{$bigdevice} {
        width: 25%;
        margin-right: 3rem;
      }

      img {
        align-self: center;
        max-height: 33rem;
      }
    }

    &__about {
      width: 100%;

      @media #{$bigdevice} {
        width: 75%;
      }
    }

    &__line {
      background-image: linear-gradient(
                      to right bottom,
                      rgba($color-blue-light, 0.8),
                      rgba($color-blue-medium, 0.8));
      height: .3rem;
      margin: 0 auto;

      @media #{$bigdevice} {
        margin: 0;
      }
    }
  }
}