body {
  font-family: "Montserrat", "fontello", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 2rem;
}

.heading-primary {
  color: $color-white;
  font-size: 3rem;
  text-shadow: .5rem 1rem 2rem rgba($color-black, .4);

  &--main {
    font-weight: 300;
  }

  &--sub {
    font-weight: 600;
  }
}

.heading-menu {
  list-style-type: none;

  &__item {
    display: inline-block;

    &:hover {
      cursor: pointer;
      transform: skewX(-10deg);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    color: $color-white;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
  }
}

.error-loading {
  font-size: 2rem;
}

.item-name {
  color: $color-blue-medium;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.item-description {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.details-box {
  text-align: center;

  @media #{$bigdevice} {
    text-align: left;
  }

  &__name {
    color: $color-blue-medium;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0;
  }

  &__tagline {
    color: $color-gray-medium;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__descr {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 2rem 0;
  }

  &__qualities {
    font-size: 1.4rem;
    margin: 2rem 0;

    p {
      display: inline;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__serve {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 2rem 0;

    li {
      list-style-type: none;
      line-height: 2rem;
    }
  }

  &__tips {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}