// COLORS
$color-gray-light: #f4f4f4;
$color-gray-medium: #b6b6b6;
$color-gray-dark: #7a7a7a;

$color-blue-light: #88dbfd;
$color-blue-medium: #4992c1;

$color-white: #fff;
$color-black: #000;


// MEDIA QUERIES
$bigdevice: "screen and (min-width: 768px)";